#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jellyfin"
name = "Jellyfin"
description.en = "Media System that manage and stream your media"
description.fr = "Système multimédia qui gère et diffuse vos médias"

version = "10.11.6~ynh2"

maintainers = ["tituspijean"]

[upstream]
license = "GPL-2.0-only"
website = "https://jellyfin.org"
demo = "https://demo.jellyfin.org/stable/web/index.html"
userdoc = "https://jellyfin.org/docs/"
code = "https://github.com/jellyfin/jellyfin"
cpe = "cpe:2.3:a:jellyfin:jellyfin"
fund = "https://opencollective.com/jellyfin"

[integration]
yunohost = ">= 12.1.39"
helpers_version = "2.1"
architectures = ["arm64", "amd64"]
multi_instance = true

ldap = true

sso = true

disk = "300M"
ram.build = "200M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/jellyfin"

    [install.init_main_permission]
    help.en = "Jellyfin has its own login system, you should make it public to let external clients access it (mobile app, etc.)."
    help.fr = "Jellyfin a son propre système de connexion, vous devriez la laisser publique pour permettre la connexion de clients externes (app mobile, etc.)."
    type = "group"
    default = "visitors"

    [install.init_admin_permission]
    ask.en = "Select an account to grant it access to Jellyfin's administration panel."
    ask.fr = "Choisissez un compte pour lui accorder l'accès au tableau de bord d'administration de Jellyfin."
    help.en = "You can grant this access to other accounts and groups with the permission system later."
    help.fr = "Vous pourrez octroire l'accès à d'autres comptes et groupes avec le système de permissions plus tard."
    type = "user"

[resources]

    [resources.sources.main]
    arm64.url = "https://repo.jellyfin.org/files/server/linux/stable/v10.11.6/arm64/jellyfin_10.11.6-arm64.tar.xz"
    arm64.sha256 = "811a69a3494877e10f6ddd431375ca754ae49758fcf7da30f2289db484183e28"
    amd64.url = "https://repo.jellyfin.org/files/server/linux/stable/v10.11.6/amd64/jellyfin_10.11.6-amd64.tar.xz"
    amd64.sha256 = "f281ded1c01211799559c6f70d6ea35031cc9ff2d3756a4c1573bcf2ff3c2695"

    format = "tar.xz"
    extract = true
    in_subdir = true
    prefetch = false

    [resources.sources.main_archive]
    arm64.url = "https://repo.jellyfin.org/archive/server/linux/stable/v10.11.6/arm64/jellyfin_10.11.6-arm64.tar.xz"
    arm64.sha256 = "811a69a3494877e10f6ddd431375ca754ae49758fcf7da30f2289db484183e28"
    amd64.url = "https://repo.jellyfin.org/archive/server/linux/stable/v10.11.6/amd64/jellyfin_10.11.6-amd64.tar.xz"
    amd64.sha256 = "f281ded1c01211799559c6f70d6ea35031cc9ff2d3756a4c1573bcf2ff3c2695"

    format = "tar.xz"
    extract = true
    in_subdir = true
    prefetch = false

    [resources.sources.ffmpeg]
    arm64.url = "https://repo.jellyfin.org/files/ffmpeg/linux/7.x/7.1.3-1/arm64/jellyfin-ffmpeg_7.1.3-1_portable_linuxarm64-gpl.tar.xz"
    arm64.sha256 = "d0f2b240015d92b3e44d8b0f2d2f43a7fbfa880c9afb54c45a1a457d81ada611"
    amd64.url = "https://repo.jellyfin.org/files/ffmpeg/linux/7.x/7.1.3-1/amd64/jellyfin-ffmpeg_7.1.3-1_portable_linux64-gpl.tar.xz"
    amd64.sha256 = "8d6bfac414d3be6e14e832e97e14da99a7258c482bfd1a869002e10133ebda1f"

    format = "tar.xz"
    extract = true
    in_subdir = false

    [resources.sources.plugin_ldap]
    url = "https://repo.jellyfin.org/files/plugin/ldap-authentication/ldap-authentication_22.0.0.0.zip"
    sha256 = "c2386c001be439c9946280a02d62610f29e325d4094e83bd31221de3f7aa20ae"
    in_subdir = false

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    # auth_header=false is because Jellyfin expects custom data in the Authorization HTTP header (notably, for Jellyfin Vue)
    main.url = "/"
    main.auth_header = false

    admin.protected = true
    admin.auth_header = false
    admin.show_tile = false

    [resources.ports]
    main.default = 8095
    # If one day we plan to declare them
    #servicediscovery.default = 1900
    #servicediscovery.exposed = "UDP"
    #servicediscovery.fixed = true
    #clientdiscovery.default = 7359
    #clientdiscovery.exposed = "UDP"
    #clientdiscovery.fixed = true

    [resources.apt]
    packages = [
        "sqlite3" # temporarily needed to tweak db during upgrade script to 10.11.5
    ]
