#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jellyfin"
name = "Jellyfin"
description.en = "Media System that manage and stream your media"
description.fr = "Système multimédia qui gère et diffuse vos médias"

version = "10.11.3~ynh1"

maintainers = ["tituspijean"]

[upstream]
license = "GPL-2.0-only"
website = "https://jellyfin.org"
demo = "https://demo.jellyfin.org/stable/web/index.html"
userdoc = "https://jellyfin.org/docs/"
code = "https://github.com/jellyfin/jellyfin"
cpe = "cpe:2.3:a:jellyfin:jellyfin"
fund = "https://opencollective.com/jellyfin"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["arm64", "amd64"]
multi_instance = false

ldap = true

sso = true

disk = "300M"
ram.build = "200M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/jellyfin"

    [install.init_main_permission]
    help.en = "Jellyfin has its own login system, you should make it public to let external clients access it (mobile app, etc.)."
    help.fr = "Jellyfin a son propre système de connexion, vous devriez la laisser publique pour permettre la connexion de clients externes (app mobile, etc.)."
    type = "group"
    default = "visitors"

    [install.init_admin_permission]
    ask.en = "Select an account to grant it access to Jellyfin's administration panel."
    ask.fr = "Choisissez un compte pour lui accorder l'accès au tableau de bord d'administration de Jellyfin."
    help.en = "You can grant this access to other accounts and groups with the permission system later."
    help.fr = "Vous pourrez octroire l'accès à d'autres comptes et groupes avec le système de permissions plus tard."
    type = "user"

[resources]

    [resources.sources.server_bookworm]
    arm64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.3/arm64/jellyfin-server_10.11.3+deb12_arm64.deb"
    arm64.sha256 = "fa3480e63b4062efd5315ef542c9ffac835f077dc78131c6ad212f6d9e2e3bd3"
    amd64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.3/amd64/jellyfin-server_10.11.3+deb12_amd64.deb"
    amd64.sha256 = "2c9e2491dae71dc9ac6a61d799f317a6c4bf2cab060a55eda3d61647539b93e4"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_archive_bookworm]
    arm64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.3/arm64/jellyfin-server_10.11.3+deb12_arm64.deb"
    arm64.sha256 = "fa3480e63b4062efd5315ef542c9ffac835f077dc78131c6ad212f6d9e2e3bd3"
    amd64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.3/amd64/jellyfin-server_10.11.3+deb12_amd64.deb"
    amd64.sha256 = "2c9e2491dae71dc9ac6a61d799f317a6c4bf2cab060a55eda3d61647539b93e4"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_trixie]
    arm64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.3/arm64/jellyfin-server_10.11.3+deb13_arm64.deb"
    arm64.sha256 = "518f8a8138cca29079d2b6ac260c0615fd1d0bb087bf6f171ed84d52beaeac92"
    amd64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.3/amd64/jellyfin-server_10.11.3+deb13_amd64.deb"
    amd64.sha256 = "867aa76d3c4978facc163582fcdbba2e8e2faba28e3063daf73ec6b28466a0b0"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_archive_trixie]
    arm64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.3/arm64/jellyfin-server_10.11.3+deb13_arm64.deb"
    arm64.sha256 = "518f8a8138cca29079d2b6ac260c0615fd1d0bb087bf6f171ed84d52beaeac92"
    amd64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.3/amd64/jellyfin-server_10.11.3+deb13_amd64.deb"
    amd64.sha256 = "867aa76d3c4978facc163582fcdbba2e8e2faba28e3063daf73ec6b28466a0b0"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.web_bookworm]
    url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.3/amd64/jellyfin-web_10.11.3+deb12_all.deb"
    sha256 = "5fdcf7e631210a158f31d377def1f2a908c3bd9398b3c891a157af725ab9080b"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_archive_bookworm]
    url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.3/amd64/jellyfin-web_10.11.3+deb12_all.deb"
    sha256 = "5fdcf7e631210a158f31d377def1f2a908c3bd9398b3c891a157af725ab9080b"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_trixie]
    url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.3/amd64/jellyfin-web_10.11.3+deb13_all.deb"
    sha256 = "da65443c66d9f732467afac54eab1b7eaaf1c248814b39e776296e3b0ba50564"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_archive_trixie]
    url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.3/amd64/jellyfin-web_10.11.3+deb13_all.deb"
    sha256 = "da65443c66d9f732467afac54eab1b7eaaf1c248814b39e776296e3b0ba50564"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.ffmpeg_bookworm]
    arm64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.2-4/arm64/jellyfin-ffmpeg7_7.1.2-4-bookworm_arm64.deb"
    arm64.sha256 = "3e55d7602dc556c96d240e3a08bc5948c3f774773b395b5f7c1159fbe0b023d0"
    amd64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.2-4/amd64/jellyfin-ffmpeg7_7.1.2-4-bookworm_amd64.deb"
    amd64.sha256 = "881a4027c7bec32b83b609c79e490f72fbe55bef678b8e5b950f0b4333f045d4"

    format = "whatever"
    extract = false
    rename = "jellyfin-ffmpeg7.deb"

    [resources.sources.ffmpeg_trixie]
    arm64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.2-4/arm64/jellyfin-ffmpeg7_7.1.2-4-trixie_arm64.deb"
    arm64.sha256 = "f558958cfebdda1a72cd6a71244345204b9f1d3c16e21fe40748ef9a6d5b3bdf"
    amd64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.2-4/amd64/jellyfin-ffmpeg7_7.1.2-4-trixie_amd64.deb"
    amd64.sha256 = "17c90c57781a187b46646a6ebb1cfaefd7229e8ad08aa076bef93c9e5092a6a6"

    format = "whatever"
    extract = false
    rename = "jellyfin-ffmpeg7.deb"


    [resources.sources.plugin_ldap]
    url = "https://repo.jellyfin.org/files/plugin/ldap-authentication/ldap-authentication_22.0.0.0.zip"
    sha256 = "c2386c001be439c9946280a02d62610f29e325d4094e83bd31221de3f7aa20ae"
    in_subdir = false

    [resources.system_user]
    home = "/var/lib/jellyfin"

    [resources.install_dir]
    dir = "/var/lib/jellyfin"

    [resources.permissions]
    # auth_header=false is because Jellyfin expects custom data in the Authorization HTTP header (notably, for Jellyfin Vue)
    main.url = "/"
    main.auth_header = false

    admin.protected = true
    admin.auth_header = false
    admin.show_tile = false

    [resources.ports]
    main.default = 8095
    # If one day we plan to declare them
    #servicediscovery.default = 1900
    #servicediscovery.exposed = "UDP"
    #servicediscovery.fixed = true
    #clientdiscovery.default = 7359
    #clientdiscovery.exposed = "UDP"
    #clientdiscovery.fixed = true

    [resources.apt]
    packages = []
