#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jellyfin"
name = "Jellyfin"
description.en = "Media System that manage and stream your media"
description.fr = "Système multimédia qui gère et diffuse vos médias"

version = "10.10.7~ynh2"

maintainers = ["tituspijean"]

[upstream]
license = "GPL-2.0-only"
website = "https://jellyfin.org"
demo = "https://demo.jellyfin.org/stable/web/index.html"
userdoc = "https://jellyfin.org/docs/"
code = "https://github.com/jellyfin/jellyfin"
cpe = "cpe:2.3:a:jellyfin:jellyfin"
fund = "https://opencollective.com/jellyfin"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["armhf", "arm64", "amd64"]
multi_instance = false

ldap = true

sso = true

disk = "300M"
ram.build = "200M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/jellyfin"

    [install.init_main_permission]
    help.en = "Jellyfin has its own login system, you should make it public to let external clients access it (mobile app, etc.)."
    help.fr = "Jellyfin a son propre système de connexion, vous devriez la laisser publique pour permettre la connexion de clients externes (app mobile, etc.)."
    type = "group"
    default = "visitors"

    [install.init_admin_permission]
    ask.en = "Select an account to grant it access to Jellyfin's administration panel."
    ask.fr = "Choisissez un compte pour lui accorder l'accès au tableau de bord d'administration de Jellyfin."
    help.en = "You can grant this access to other accounts and groups with the permission system later."
    help.fr = "Vous pourrez octroire l'accès à d'autres comptes et groupes avec le système de permissions plus tard."
    type = "user"

[resources]

    [resources.sources.server_bullseye]
    armhf.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/armhf/jellyfin-server_10.10.7+deb11_armhf.deb"
    armhf.sha256 = "7ecf6b2bde9c11731a3cce35748881305e75cdc7ec4ebd255b8ffccdc528fd45"
    arm64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/arm64/jellyfin-server_10.10.7+deb11_arm64.deb"
    arm64.sha256 = "b37cbf66b76dc0e42d08d28fcc9676b906d96a266d1836dc754e959469c0fadf"
    amd64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/amd64/jellyfin-server_10.10.7+deb11_amd64.deb"
    amd64.sha256 = "476af43829af16c90a123305da6627ceab2ec4362190620e3b4458a9a439eb3d"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_archive_bullseye]
    armhf.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/armhf/jellyfin-server_10.10.7+deb11_armhf.deb"
    armhf.sha256 = "7ecf6b2bde9c11731a3cce35748881305e75cdc7ec4ebd255b8ffccdc528fd45"
    arm64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/arm64/jellyfin-server_10.10.7+deb11_arm64.deb"
    arm64.sha256 = "b37cbf66b76dc0e42d08d28fcc9676b906d96a266d1836dc754e959469c0fadf"
    amd64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/amd64/jellyfin-server_10.10.7+deb11_amd64.deb"
    amd64.sha256 = "476af43829af16c90a123305da6627ceab2ec4362190620e3b4458a9a439eb3d"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_bookworm]
    armhf.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/armhf/jellyfin-server_10.10.7+deb12_armhf.deb"
    armhf.sha256 = "010d8e6bc97776baabb3b17d4ecc5d4b95ed64656ac5e088356035143795861d"
    arm64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/arm64/jellyfin-server_10.10.7+deb12_arm64.deb"
    arm64.sha256 = "fbec39665c9f1fa1a319cdd113dfc954e82d07df593c3b1145391f447d8fab43"
    amd64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/amd64/jellyfin-server_10.10.7+deb12_amd64.deb"
    amd64.sha256 = "b72f60da5a763f30918def695dfcc74d3424e65c1dbfdd9822941d8764096854"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_archive_bookworm]
    armhf.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/armhf/jellyfin-server_10.10.7+deb12_armhf.deb"
    armhf.sha256 = "010d8e6bc97776baabb3b17d4ecc5d4b95ed64656ac5e088356035143795861d"
    arm64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/arm64/jellyfin-server_10.10.7+deb12_arm64.deb"
    arm64.sha256 = "fbec39665c9f1fa1a319cdd113dfc954e82d07df593c3b1145391f447d8fab43"
    amd64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/amd64/jellyfin-server_10.10.7+deb12_amd64.deb"
    amd64.sha256 = "b72f60da5a763f30918def695dfcc74d3424e65c1dbfdd9822941d8764096854"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_trixie]
    arm64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/arm64/jellyfin-server_10.10.7+deb13_arm64.deb"
    arm64.sha256 = "3a6e46978e53a010792a767c98546d8da59003e7615c3cf67b4fe46afa3ad269"
    amd64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/amd64/jellyfin-server_10.10.7+deb13_amd64.deb"
    amd64.sha256 = "733330e0dc316e57e7884d5491366614133ba3371d8ea584ad31d910dfd5b3f7"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_archive_trixie]
    arm64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/arm64/jellyfin-server_10.10.7+deb13_arm64.deb"
    arm64.sha256 = "3a6e46978e53a010792a767c98546d8da59003e7615c3cf67b4fe46afa3ad269"
    amd64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/amd64/jellyfin-server_10.10.7+deb13_amd64.deb"
    amd64.sha256 = "733330e0dc316e57e7884d5491366614133ba3371d8ea584ad31d910dfd5b3f7"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.web_bullseye]
    url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/amd64/jellyfin-web_10.10.7+deb11_all.deb"
    sha256 = "e6f979f4e9fd9a8eed7189906cbd4570350cb49c5c6c64dfcca6b4e65a6a274a"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_archive_bullseye]
    url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/amd64/jellyfin-web_10.10.7+deb11_all.deb"
    sha256 = "e6f979f4e9fd9a8eed7189906cbd4570350cb49c5c6c64dfcca6b4e65a6a274a"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_bookworm]
    url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/amd64/jellyfin-web_10.10.7+deb12_all.deb"
    sha256 = "303bf4bf0892a422b75627c158f6177464ab216d0a431225277ce3fbffbbb08d"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_archive_bookworm]
    url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/amd64/jellyfin-web_10.10.7+deb12_all.deb"
    sha256 = "303bf4bf0892a422b75627c158f6177464ab216d0a431225277ce3fbffbbb08d"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_trixie]
    url = "https://repo.jellyfin.org/files/server/debian/stable/v10.10.7/amd64/jellyfin-web_10.10.7+deb13_all.deb"
    sha256 = "9b46a3f02fe58a5e0478a10833124e3bbfc527cde6bf07765aa489727f099df4"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_archive_trixie]
    url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.10.7/amd64/jellyfin-web_10.10.7+deb13_all.deb"
    sha256 = "9b46a3f02fe58a5e0478a10833124e3bbfc527cde6bf07765aa489727f099df4"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.ffmpeg_bullseye]
    arm64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.2-2/arm64/jellyfin-ffmpeg7_7.1.2-2-bullseye_arm64.deb"
    arm64.sha256 = "7c501e82c60dab754644ac84603e843198de25a9271f9fc7d1836ee3a88be44b"
    amd64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.2-2/amd64/jellyfin-ffmpeg7_7.1.2-2-bullseye_amd64.deb"
    amd64.sha256 = "7bcdab7eb19105cd646d324d1898ac11437f662073712c12decf0cb89380fc7a"

    format = "whatever"
    extract = false
    rename = "jellyfin-ffmpeg7.deb"

    [resources.sources.ffmpeg_bookworm]
    arm64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.2-2/arm64/jellyfin-ffmpeg7_7.1.2-2-bookworm_arm64.deb"
    arm64.sha256 = "6f2f59ec9eacd8279a2c78dbfc658543f10de22d8bf574b43fa8034294d705b2"
    amd64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.2-2/amd64/jellyfin-ffmpeg7_7.1.2-2-bookworm_amd64.deb"
    amd64.sha256 = "1ec50f46a4db3019291c4c4cb0d56bde34b85cd19e79f901ae8765b2fd3ee640"

    format = "whatever"
    extract = false
    rename = "jellyfin-ffmpeg7.deb"

    [resources.sources.ffmpeg_trixie]
    arm64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.2-2/arm64/jellyfin-ffmpeg7_7.1.2-2-trixie_arm64.deb"
    arm64.sha256 = "1dd812179979e3e46dcfb0145dc249782a5aba40ea6ca5925bd4cde83f94bcfe"
    amd64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.2-2/amd64/jellyfin-ffmpeg7_7.1.2-2-trixie_amd64.deb"
    amd64.sha256 = "018d7c02703f6f352373e02aecf52defdf6382b39eb9ebbbc8b9b9fd936f9281"

    format = "whatever"
    extract = false
    rename = "jellyfin-ffmpeg7.deb"


    [resources.sources.plugin_ldap]
    url = "https://repo.jellyfin.org/files/plugin/ldap-authentication/ldap-authentication_20.0.0.0.zip"
    sha256 = "3c19adb43157009dd98319a5cc4e966d5284d2d62fdfcbee3923a09b9d6ea9b4"
    in_subdir = false

    [resources.system_user]
    home = "/var/lib/jellyfin"

    [resources.install_dir]
    dir = "/var/lib/jellyfin"

    [resources.permissions]
    # auth_header=false is because Jellyfin expects custom data in the Authorization HTTP header (notably, for Jellyfin Vue)
    main.url = "/"
    main.auth_header = false

    admin.protected = true
    admin.auth_header = false
    admin.show_tile = false

    [resources.ports]
    main.default = 8095
    # If one day we plan to declare them
    #servicediscovery.default = 1900
    #servicediscovery.exposed = "UDP"
    #servicediscovery.fixed = true
    #clientdiscovery.default = 7359
    #clientdiscovery.exposed = "UDP"
    #clientdiscovery.fixed = true

    [resources.apt]
    packages = []
