#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jellyfin"
name = "Jellyfin"
description.en = "Media System that manage and stream your media"
description.fr = "Système multimédia qui gère et diffuse vos médias"

version = "10.11.6~ynh1"

maintainers = ["tituspijean"]

[upstream]
license = "GPL-2.0-only"
website = "https://jellyfin.org"
demo = "https://demo.jellyfin.org/stable/web/index.html"
userdoc = "https://jellyfin.org/docs/"
code = "https://github.com/jellyfin/jellyfin"
cpe = "cpe:2.3:a:jellyfin:jellyfin"
fund = "https://opencollective.com/jellyfin"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["arm64", "amd64"]
multi_instance = false

ldap = true

sso = true

disk = "300M"
ram.build = "200M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/jellyfin"

    [install.init_main_permission]
    help.en = "Jellyfin has its own login system, you should make it public to let external clients access it (mobile app, etc.)."
    help.fr = "Jellyfin a son propre système de connexion, vous devriez la laisser publique pour permettre la connexion de clients externes (app mobile, etc.)."
    type = "group"
    default = "visitors"

    [install.init_admin_permission]
    ask.en = "Select an account to grant it access to Jellyfin's administration panel."
    ask.fr = "Choisissez un compte pour lui accorder l'accès au tableau de bord d'administration de Jellyfin."
    help.en = "You can grant this access to other accounts and groups with the permission system later."
    help.fr = "Vous pourrez octroire l'accès à d'autres comptes et groupes avec le système de permissions plus tard."
    type = "user"

[resources]

    [resources.sources.server_bookworm]
    arm64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.6/arm64/jellyfin-server_10.11.6+deb12_arm64.deb"
    arm64.sha256 = "af9ded4622f228436f2ab28b0dc05b0b15f30fe13098844e93ed489d5a524cc4"
    amd64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.6/amd64/jellyfin-server_10.11.6+deb12_amd64.deb"
    amd64.sha256 = "bdf37bb8118ad37c0d7b2609c7697c1a10dd0c7267444c1fd81c3dc138a4d360"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_archive_bookworm]
    arm64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.6/arm64/jellyfin-server_10.11.6+deb12_arm64.deb"
    arm64.sha256 = "af9ded4622f228436f2ab28b0dc05b0b15f30fe13098844e93ed489d5a524cc4"
    amd64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.6/amd64/jellyfin-server_10.11.6+deb12_amd64.deb"
    amd64.sha256 = "bdf37bb8118ad37c0d7b2609c7697c1a10dd0c7267444c1fd81c3dc138a4d360"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_trixie]
    arm64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.6/arm64/jellyfin-server_10.11.6+deb13_arm64.deb"
    arm64.sha256 = "7ddbb98426a3c752a9cb0c8b3b959ab070d20a75c49067360b3ea9187c5a8c3f"
    amd64.url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.6/amd64/jellyfin-server_10.11.6+deb13_amd64.deb"
    amd64.sha256 = "5d84f65a61185bf65da3f2bef56070a4609fbc9470794375b9bd6c5de749a5cb"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.server_archive_trixie]
    arm64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.6/arm64/jellyfin-server_10.11.6+deb13_arm64.deb"
    arm64.sha256 = "7ddbb98426a3c752a9cb0c8b3b959ab070d20a75c49067360b3ea9187c5a8c3f"
    amd64.url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.6/amd64/jellyfin-server_10.11.6+deb13_amd64.deb"
    amd64.sha256 = "5d84f65a61185bf65da3f2bef56070a4609fbc9470794375b9bd6c5de749a5cb"

    format = "whatever"
    extract = false
    rename = "jellyfin-server.deb"
    prefetch = false

    [resources.sources.web_bookworm]
    url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.6/amd64/jellyfin-web_10.11.6+deb12_all.deb"
    sha256 = "d0d917002423209e529140200ef6eefffe1d22f749a17433c13cea01f248d212"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_archive_bookworm]
    url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.6/amd64/jellyfin-web_10.11.6+deb12_all.deb"
    sha256 = "d0d917002423209e529140200ef6eefffe1d22f749a17433c13cea01f248d212"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_trixie]
    url = "https://repo.jellyfin.org/files/server/debian/stable/v10.11.6/amd64/jellyfin-web_10.11.6+deb13_all.deb"
    sha256 = "945365c42db30dc620aa977b484d6cda404367cd0b6888549d2a6513825d949b"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.web_archive_trixie]
    url = "https://repo.jellyfin.org/archive/server/debian/stable/v10.11.6/amd64/jellyfin-web_10.11.6+deb13_all.deb"
    sha256 = "945365c42db30dc620aa977b484d6cda404367cd0b6888549d2a6513825d949b"

    format = "whatever"
    extract = false
    rename = "jellyfin-web.deb"
    prefetch = false

    [resources.sources.ffmpeg_bookworm]
    arm64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.3-1/arm64/jellyfin-ffmpeg7_7.1.3-1-bookworm_arm64.deb"
    arm64.sha256 = "c1f069bae4f72ea401a2005847ebd019fd91738d2a443563a8d992ce29a18ee8"
    amd64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.3-1/amd64/jellyfin-ffmpeg7_7.1.3-1-bookworm_amd64.deb"
    amd64.sha256 = "ee2fd205c86c630ed15c91c534adc33df7ce09a35bef5f42fd1ee119d26728ee"

    format = "whatever"
    extract = false
    rename = "jellyfin-ffmpeg7.deb"

    [resources.sources.ffmpeg_trixie]
    arm64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.3-1/arm64/jellyfin-ffmpeg7_7.1.3-1-trixie_arm64.deb"
    arm64.sha256 = "ff8a8b5aa622272c044495c95a01f97858f09df743f667d4640b3882bb795f8c"
    amd64.url = "https://repo.jellyfin.org/files/ffmpeg/debian/7.x/7.1.3-1/amd64/jellyfin-ffmpeg7_7.1.3-1-trixie_amd64.deb"
    amd64.sha256 = "5b97d8aa2b7a219df3723c5dda481a3cda42b892ca0e6385f899e25a7448255b"

    format = "whatever"
    extract = false
    rename = "jellyfin-ffmpeg7.deb"


    [resources.sources.plugin_ldap]
    url = "https://repo.jellyfin.org/files/plugin/ldap-authentication/ldap-authentication_22.0.0.0.zip"
    sha256 = "c2386c001be439c9946280a02d62610f29e325d4094e83bd31221de3f7aa20ae"
    in_subdir = false

    [resources.system_user]
    home = "/var/lib/jellyfin"

    [resources.install_dir]
    dir = "/var/lib/jellyfin"

    [resources.permissions]
    # auth_header=false is because Jellyfin expects custom data in the Authorization HTTP header (notably, for Jellyfin Vue)
    main.url = "/"
    main.auth_header = false

    admin.protected = true
    admin.auth_header = false
    admin.show_tile = false

    [resources.ports]
    main.default = 8095
    # If one day we plan to declare them
    #servicediscovery.default = 1900
    #servicediscovery.exposed = "UDP"
    #servicediscovery.fixed = true
    #clientdiscovery.default = 7359
    #clientdiscovery.exposed = "UDP"
    #clientdiscovery.fixed = true

    [resources.apt]
    packages = [
        "sqlite3" # temporarily needed to tweak db during upgrade script to 10.11.5    
    ]
