#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    preinstall = """
    sudo apt update >/dev/null
    """

    args.admin = "package_checker"
    args.init_admin_permission="package_checker"

    test_upgrade_from.be23267b55c6f2c2caeb23566357d0564fe2f914.name = "10.10.7~ynh2"
    test_upgrade_from.be23267b55c6f2c2caeb23566357d0564fe2f914.args.domain = "domain.tld"
    test_upgrade_from.be23267b55c6f2c2caeb23566357d0564fe2f914.args.admin = "package_checker"

    [default.curl_tests]
    home.path = "/web/index.html"
    home.expect_title = "Jellyfin"

