#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    preinstall = """
    sudo apt update >/dev/null
    """

    args.admin = "package_checker"
    args.init_admin_permission="package_checker"

    test_upgrade_from.9863d2f.name = "10.9.11"
    test_upgrade_from.9863d2f.args.domain = "domain.tld"
    test_upgrade_from.9863d2f.args.admin = "package_checker"

    [default.curl_tests]
    home.path = "/web/index.html"
    home.expect_title = "Jellyfin"
